*{
    padding: 0;
    margin: 0;
}
body{
    background-color:  #f2e9ff;
}
main{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(GALLERY/event\ plannr\ 3.jpg);
    background-size: cover;
    background-position: center;
}
.header{
        background-color:  #0006;
       height: 160px;
    
    }
.logo{
    position: absolute;
    left: 41%;
    height: 160px;
    width: 180px;
    background-image: url(services/mainlogo.png);
    background-size: cover;
    background-position: center;

}

.foremenu ul li a{ 
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-style: italic;
    font: bolder;
}
.foremenu ul li a:hover{
    border: 1px solid white;
    transition: 5s;
    height: 10px;}
 .foremenu ul li {
    float: none;
    display: inline-block;
    padding: 10px 15px;}
.foremenu ul li:nth-child(1){float: left; margin-left: 90px;}
.foremenu ul li:nth-child(2){float: left;margin-left: 5px;}
.foremenu ul li:nth-child(3){float: left; margin-left: 5px;}
.foremenu ul li:nth-child(4){float:right; margin-right:50px}
.foremenu ul li:nth-child(4){float: right; margin-right:5px;}
.foremenu ul li:nth-child(4){ float:right; margin-right: 80px;}
.foremenu ul{
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: right;
     line-height: 90px;
}
.text{
    position: absolute;
    top: 40%;
    left: 30%;

}
h1{
    color: white;
    font-size: 50px;
    
}
h2{
    color: white;
}
.section{
    margin-top: 370px;
}
.container{
    height: 100px;
    width:1300px; 
    margin-right: 20px;


}
.container ul li a{ 
    font-size: 30px; 
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-style: italic;
    font: bolder;
    border: 2px solid black;
    background-color : black;
    border-radius: 5px;
}
.container ul li a:hover{
    background-color: burlywood;
    border-radius: 5px;
    color: black;
}
 .container ul li {
    display: inline-block;
    padding: 10px 20px;}
.container ul{
    list-style: none;
    text-align: right;
}
h3{
    font-size: 70px;


}
div.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
 h4{
    color: black;
    font-size: 70px;
    margin-left: 30px;
 }
 .section2 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .section2 .box .gallery{
    display: flex;
    flex-direction: column;
    width: 49%;
 }