*{
    padding: 0%;
    margin: 0%}
    .header{
        background-color: white;
        height:80px ;
        position: fixed;
        width: 100%;
    
    }
    .foremenu ul li a{
        text-align: right;
        color:rgb(22, 22, 22);
        text-decoration: none;
        padding: 5px 20px;
        border: 1px solid  black;
        
    }
    .foremenu ul li 
    { 
        display:inline;
       margin: 0px 30px;}
       .foremenu ul li:nth-child(1) {float: left;}
       .foremenu ul li:nth-child(2){float: left;}
        .foremenu ul li:nth-child(3){float: left;} 
        .foremenu ul li:nth-child(4){float: right;}
        .foremenu ul li:nth-child(5){float: right;}
    .logo{
        left: 40%;
        top: 20px;
        position: absolute;         
    }

