body
{
    margin: 0px;
}
.box
{
    width: 350px;
    height: 350px;
    margin: 0px auto;
    background-color: rgb(0, 255, 255);
    transition: all 1.5s ease-in-out;
}
h3{
    line-height: 350px;
    color: #000;
}
.box1:hover
{
    transform: rotate(360deg);
}
.box2:hover
{
    transform: rotate(-150deg);
}
.box3:hover
{
    transform:translateX(-60px) ;
}
.box4:hover
{
    transform:translateY(75px) ;
}
.box5:hover
{
    transform: translate(-40px,40px);
}
.box6:hover
{
    
transform:scaleX(1.5) ;
}
.box7:hover
{
transform: scaleY(0.6);
}
.box8:hover
{
    transform:scale(2,2) ;
}
.box9:hover
{
    transform: skewX(30deg);
}
.box10:hover
{
    transform: skewY(80deg);

}
.box11:hover
{
    transform: skew(25deg,35deg);
}