*{
    padding: 0%;
    margin: 0%
}
main{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(services/event.jpg);
    background-size: cover;
    background-position: center;
}
.header{
        background-color:  #0009;
       height: 160px;
}
    
    
.logo{
    position: absolute;
    left: 41%;
    height: 160px;
    width: 180px;
    background-image: url(services/mainlogo.png);
    background-size: cover;
    background-position: center;


}


.foremenu ul li a{ 
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-style: italic;
    font: bolder;
}
.foremenu ul li a:hover{
    background-color: burlywood;
    border-radius: 10px;
    color: white;
}
 .foremenu ul li {
    float: none;
    display: inline-block;
    padding: 10px 15px;}
.foremenu ul li:nth-child(1){float: left; margin-left: 90px;}
.foremenu ul li:nth-child(2){float: left;margin-left: 5px;}
.foremenu ul li:nth-child(3){float: left; margin-left: 5px;}
.foremenu ul li:nth-child(4){float:right; margin-right:50px}
.foremenu ul li:nth-child(4){float: right; margin-right:5px;}
.foremenu ul li:nth-child(4){ float:right; margin-right: 80px;}
.foremenu ul{
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: right;
    line-height: 120px;
}
.text{
    position: absolute;
    top: 45%;
}

h1{
    color: #fff;
    font-size: 50px;
}
h2{
    color:#fff;
    font-size: 30px;

}
h3{
    color: black;
    font-size: 70px;
}
.box{
    display: inline;
    float: left;
    padding: 35px ;
    transition: all 1.5s ease-in-out;
    margin: 0px auto;
    }
    
.pic{
    background-image: url(services/birthday2.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    margin-left: 120px;
    border: 1px solid black;}
.pic:hover{
    transform:scale(1.2,1.2) ;
}
.pic1{
    background-image: url(services/mehandi.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic1:hover{
    transform:scale(1.2,1.2) ;
}
.pic2{
    background-image: url(services/bridal\ shower.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic2:hover{
    transform:scale(1.2,1.2) ;
}
.pic3{
    background-image: url(services/nikkah.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    margin-left: 120px;
    width: 300px;
    border: 1px solid black;
}
.pic3:hover{
    transform:scale(1.2,1.2) ;
}
.pic4{
    background-image: url(services/barat.webp);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic4:hover{
    transform:scale(1.2,1.2) ;
}
.pic5{
    background-image: url(services/valima.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic5:hover{
    transform:scale(1.2,1.2) ;
}
.pic6{
    background-image: url(services/cooperate\ event.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    margin-left: 120px;
    border: 1px solid black;
}
.pic6:hover{
    transform:scale(1.2,1.2) ;
}
.pic7{
    background-image: url(services/cards.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic7:hover{
    transform:scale(1.2,1.2) ;
}
.pic8{
    background-image: url(services/catering-dishes-1024x694.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
.pic8:hover{
    transform:scale(1.2,1.2) ;
}
.pic9{
    background-image: url(services/venue.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
    margin-left: 120px;
    border: 1px solid black;
}
.pic9:hover{
    transform:scale(1.2,1.2) ;
}
.pic10{
    background-image: url(services/photography.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 300px;
}
.pic10:hover{
    transform:scale(1.5,1.5) ;
}